.mat-list-item .mat-icon:hover {
  cursor: pointer;
}

.reverse {
  border-radius: 50px!important;
  background: #2e294e!important;
  box-shadow: inset 20px 20px 60px #272342, inset -20px -20px 60px #352f5a!important;
}
