@import "~@angular/material/prebuilt-themes/purple-green.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.mat-list-item,
.mat-menu-item {
  font-size: 14px !important;
}

.album-cover:hover {
  cursor: pointer;
}

mat-chip:hover {
  cursor: pointer;
}

.navbar-spacer {
  flex: 1 1 auto;
}

.navbar {
  z-index: 2;
}

.navbar-brand {
  text-decoration: none;
  color: white;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fafafa;
}

/*Set sidenav width*/

mat-sidenav {
  min-width: 180px !important;
  border-right: 1px solid #eee;
  box-shadow: 6px 0 6px rgba(0, 0, 0, 0.1);
  /* background-color:rgb(63, 81, 181); */
}

#push-bottom {
  position: absolute;
  bottom: 0;
}

.mat-toolbar {
  min-height: 64px;
}

.sidenav-content {
  padding: 40px;
}

.bottom-spacer {
  height: 80px;
}

@media only screen and (max-width: 600px) {
  mat-sidenav {
    position: fixed !important;
  }

  mat-sidenav-content {
    margin-left: 0px !important;
  }

  .sidenav-content {
    padding: 20px;
  }

  .bottom-spacer {
    height: 40px;
  }
}

.mat-drawer-container {
  overflow: auto !important;
  height: 100%;
}

.mat-drawer-content {
  height: auto !important;
}

.mat-list-base .mat-list-item .mat-line {
  white-space: normal !important;
}

.mat-sidenav-content .mat-list-item {
  height: auto !important;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* Container from bootstrap */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.mat-card-header-text {
  padding: 0 !important;
  margin: 0 !important;
}

a:visited {
  color: #EEE;
}

.main {
  background-color: #2E294E;
  /* background: rgb(31,30,66); */
  /* background: linear-gradient(180deg, rgba(31,30,66,1) 0%, rgba(45,17,59,1) 20%, rgba(75,49,49,1) 100%); */
}

.navbar{
  /* background-color: #D7263D!important; */
  background: rgb(215,38,61)!important;
background: linear-gradient(100deg, rgba(215,38,61,1) 0%, rgba(244,96,54,1) 72%, rgba(255,49,0,1) 100%)!important;
}

.nav{
  background-color: #D7263D!important;
}